<!DOCTYPE html>
<html lang="en">
{% from "macros.html" import head, nav, importJS, footer %}

{{ head("Dryve | About") }}
<link rel="stylesheet" href="static/css/about.css?{{ range(1, 1000000000000) | random }}">
<body id="body">
{{ nav(logged_in) }}
<main id="main">
    <section class="section primary-section">
        <h1>What is Dryve?</h1>
        <p>Dryve is a revolutionary carpool-arranging tool that makes getting from Point A to Point B easier and more
            environmentally-friendly than ever before!</p>
    </section>
    <section class="section">
        <h1>Why isn't there more on this page?</h1>
        <p>Dryve was made over the course of 8 hours at <a href="https://blueprint.hackmit.org" title="_blank">Blueprint</a>,
            so we haven't had enough time to write more, yet.</p>
    </section>
</main>
{{ footer() }}
{{ importJS() }}
</body>
</html>