<!DOCTYPE html>
<html lang="en">
{% from "macros.html" import head, nav, importJS, footer %}
{{ head("Dryve | Accept Rider") }}
<link rel="stylesheet" href="static/css/login.css?{{ range(1, 1000000000000) | random }}">
<body id="body">
{{ nav(logged_in) }}
<main id="main">
    <div class="valign-wrapper full-screen">
        <div class="container">
            <h1 style="font-size: 50px!important;">Successfully Accepted {{ rider }}!</h1>
            <p style="font-size: 36px!important;">Your trip now has {{ num_riders }} rider(s).<br>Redirecting...</p>
            <script type="text/javascript">
                setTimeout(() => {
                    window.location.href="/manageTrip/{{ id }}";
                }, 2500);
            </script>
        </div>
    </div>
</main>
{{ importJS() }}
{{ footer() }}
</body>
</html>